.chat-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

    .chat-box {
        height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .chat-message {
        margin-bottom: 10px;
    }

    .input-container {
        display: flex;
    }

    #user-input {
        flex: 1;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #typingIndicator {
        display: none;

    }

    @keyframes typing {
        0% {
            content: "AI typing";
        }

        25% {
            content: "AI typing.";
        }

        50% {
            content: "AI typing..";
        }

        75% {
            content: "AI typing...";
        }
    }

    #typingIndicator::after {
        content: "AI typing...";
        animation: typing 1s infinite;
    }

    button {
        padding: 5px 10px;
        background-color: #ffffff;
        color: #007bff;
        border: 1px solid #007bff;
        cursor: pointer;
        border-radius: 5px;
    }
}